<div class="content">
  <section class="welcome-section">
    <div class="welcome-section-content">
      <img src="assets/Logo.svg">
      <p>Manage your finances better, with analytics and projection. All your financial expenditures in one place enable
        you to make financial better decisions. Get in control of your finances and start tracking your expenses with our easy-to-use app.</p>
      <h2>Start Managing Your Expenses Today!</h2>
    </div>
    <img class="welcome-section-img" src="assets/intro_section_img.png">
  </section>


  <h1 style="text-align: center;">Features</h1>
  <div class="features">
    <div class="feature-box">
      <h2>Track Expenses</h2>
      <p>Add and update your expenses all in one place. Our application helps you be free from papers and reciepts.</p>
    </div>
    <div class="feature-box">
      <h2>Dashboard</h2>
      <p>Our dashboard enables you to easily visualise your expenses, work out where money can be saved and monitor your
        budgeting.</p>
    </div>
    <div class="feature-box">
      <h2>Predictive Insights</h2>
      <p>This application provides you with useful insights. Using algorithms to predict where your expenses are headed,
        we help you out more!</p>
    </div>
  </div>

  <div class="getting-started">
    <h1 style="text-align: center;">Getting Started</h1>
    <p style="width: 50%;">It is as easy as 1, 2, 3! We have no addtional charges. Your sign up is only required to keep your data associated to you. Your information is secure and will not be shared with any third party.</p>
    <div class="steps">
      <div class="step">1. Sign up for an account or log in if you already have one.</div>
      <div class="step">2. Add your expenses by providing details such as date, amount, and description.</div>
      <div class="step">3. View and manage your expenses in the dashboard.</div>
    </div>
  </div>
  

</div>