<section class="content">
    <h1>All Expenses</h1>
    <h2 *ngIf="expensesOfUser == 0">No Expenses Added :[</h2>

    <p *ngIf="deleting">
        Are you sure you want to delete the expense record? 
        <button class="delete m-5" (click)="submitDeleteRequest()">Yes</button> 
        <button class="delete m-5" style="background-color: green;" (click)="deleting=false; deletingIndex=-1">Cancel</button>
        {{deleting_message}}
    </p>
    <form [formGroup]="expenseForm" (ngSubmit)="onEditSubmit()" *ngIf="editing">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" id="amount" formControlName="amount" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" formControlName="date" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <p class="description">Choose a category of your expendature</p>
            <p class="description" style="font-style: italic;" *ngIf="categories<=0">You can add a category if it does not exist in the list.</p>
            <select id="categories" name="categories" formControlName="category">
              <option *ngFor="let option of categories" [value]="option">{{ option }}</option>
            </select>
            
          </div>
      
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" formControlName="description" class="form-control" required />
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Expense</button>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    </form>

    <div class="table-container">
        <table>
            <!-- Table header -->
            <thead>
                <tr>
                    <th (click)="sortBy('date')" style="cursor: pointer;">
                        Date 
                        <i *ngIf="sortedBy=='date_desc'" class='fas fa-arrow-circle-up' style="color: white;" ></i> 
                        <i *ngIf="sortedBy=='date_asc'" class='fas fa-arrow-circle-down' style="color: white;" ></i> 
                    </th>
                    <th (click)="sortBy('amount')" style="cursor: pointer;">
                        Amount
                        <i *ngIf="sortedBy=='amount_desc'" class='fas fa-arrow-circle-up' style="color: white;" ></i> 
                        <i *ngIf="sortedBy=='amount_asc'" class='fas fa-arrow-circle-down' style="color: white;" ></i> 
                    </th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <!-- Table body -->
            <tbody>
                <tr *ngFor="let expense of expensesOfUser; let i = index">
                    <td class="date">{{ formatDate(expense.date) }}</td>
                    <td class="amount">
                        <h3>{{ expense.amount }}</h3>
                    </td>
                    <td class="middle">{{expense.category}}</td>
                    <td class="description">{{ expense.description }}</td>
                    <td class="middle"><button class="edit" (click)="edit(i)">Edit</button></td>
                    <td class="middle"><button class="delete" (click)="delete(i)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>